a {
    text-decoration: none;
    color: #198754;
}
a:hover {
    color: #105a37;
}
nav {
    padding: 0px!important;
}
nav > .container-fluid {
    max-width: 750px;
}
.navbar-toggler {
    border: none;
}

@media only screen 
and (max-width : 450px) { 
main {
    margin: 10px;
}
.footer {
    display: none;}
}